@import url('https://fonts.googleapis.com/css?family=Lobster|Mansalva|Open+Sans&display=swap');

body{
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    padding: 0 !important;
    /* opacity: 0.7; */
    
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    left: 0;
    top: 131%;
    position: absolute;
}

.my-brand{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    font-weight: bold;
    color: #4D726D !important;
    /* background-color: rgb(60, 62, 66); */
    padding: 0.3em 0.3em 0.3em 0;
    border-radius: 6%;
    height: 100%;
}

.my-brand:focus{
    color: #fff !important;
}

.font-menu{
    font-family: 'Open Sans', sans-serif;
    /* text-transform: uppercase; */
    color: #fff !important;
    font-size: 1em;
}

.bg-my{
    background-color: #343434;
    border-bottom: 2px solid #4AA180;
   
}

.bg-toggle{
    background-color: #f1f1f1;
}

.font-menu:focus{
    background-color: #4AA180;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #4AA180;
}
.bg-collapse{
    background-color: #676969;
    z-index: 1001;
}
@media (min-width: 576px) { 

  .bg-collapse{
      background-color: #343434;
     
  }

}

/* banner */

.container-fluid .banner{
    
    
    height: 400px;
    background-image: url('../img/img_banner/newyork\ \(2\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
<<<<<<< HEAD
    background-position: center;
    /* background-attachment: fixed; */
=======
    background-attachment: fixed;
>>>>>>> f967fdeb42a1f19d978edf8f9665ac209e199cc9

   
    
}
.overlay-banner{
    width: 100%;
    height: 400px;
    background-color: black;
<<<<<<< HEAD
    opacity: 0.3;
    position: absolute;
}

.title-home{
    width: 100%;
    height: 100%;
    position: absolute;
}

=======
    opacity: 0.6;
    position: absolute;
}
>>>>>>> f967fdeb42a1f19d978edf8f9665ac209e199cc9
.form-banner{
    /*   */
    top: 11%;
    z-index: 1000;
}


@media (max-width: 991.98px) { 
    .favote-1{
        display: none;
    }
}

/* icon arrow */
.down-arrow{
    border-top: 1em solid #343a40;
    border-right: 1em solid transparent;
    border-left: 1em solid transparent;
    border-bottom: 1em solid transparent;
   
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-1em);
}

.down-arrow-map{
    border-top: 1em solid white;
    border-right: 1em solid transparent;
    border-left: 1em solid transparent;
    border-bottom: 1em solid transparent;
   
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-1em);
}

#myvideo{
    width: 100%;
    object-fit: inherit;
}
.poter{
   width: 6em;
   height: 6em;
    background-color: cadetblue;
    transform: rotate(30deg);
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
}

.box-shadow:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.poter1{
    width: 6em;
    height: 6em;
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
}

/* new product */
.newProduct{
    position: relative;
    overflow: hidden;
    

}
.newProduct:hover .overlay{
    opacity: 0.3;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    display: block;
   
}
.newProduct:hover img{
    transform: scale(1.3);
}
.newProduct:hover .title-overlay{
    opacity: 0.6;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
   display: none;
   z-index: 90;
   transition: 0.4s;
}

.title-overlay{
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: black;
    bottom: 0;
    z-index: 91;
    opacity: 0;
    transition: 0.4s;
}

.content-title{
    position: absolute;
    width: 100%;
    bottom: 10%;
    z-index: 92;
    text-decoration: none;
    text-align: center;
    color: white;
    
}
.newProduct img{
    width: 100%;
    transition: 0.4s;
}
.icon-badge{
    position: absolute;
    
    z-index: 92;
    top: 1em;
    left: 1em;
}
.hashfacebook{
    background-color: #4D726D;
    color: white;
}
.card-img{
    transform: rotate(30deg);
    object-fit: cover;
    transition: 0.4s;
}
.card-img:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
}

/* parner 1 */
.partner_1{
    overflow: hidden;
    transition: 0.4s;
    position: relative;
    
}

.overlay_partner{
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background-color: black;
    transition: 0.4s;
    opacity: 0;
}

.partner_1:hover .overlay_partner{
    opacity: 0.6;
    z-index: 99;
}


.partner_1 img{
    width: 100%;
}
.partner_1:hover img{
    transform: scale(1.1);
}

.overlay_partner a:hover{
    color: white;
}

.arrow-color{
    border-top: 1em solid rgb(233, 236, 239);
    border-right: 1em solid transparent;
    border-left: 1em solid transparent;
    border-bottom: 1em solid transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-1em);
}

.hotline-parner{
    width: 100%;
    height: 100%;
    background-color: #C4C4C4 !important ;
}

.bg-card-hedder{
    background-color: #4D726D;
}
.font{
    font-size: 2em;
}
.font a:hover{
  text-decoration: none;
  color: #4AA180;
}

/* section trust */
.bg-section-trust{
    background-color: #EDF0F2;
}

.card-trust{
    width: 100%;
    height: 33em;
    /* height: 500px; */
    background-color: white;
    position: relative;
}
.icon-trust{
    font-size: 2em;
    position: absolute;
    background-color: rgb(64, 159, 129);
    color: white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    top: -1em;
    left: 50%;
    transform: translate(-50%);
}

.card-content-trust{
    
    position: absolute;
    top: 2em;
}

/* footer */

.bg-section-footer{
    background-color: #343434;
}

.heading-title-footer{
    color: white;
    
    display: block;
}

.content-title-footer{
    list-style: none;
    padding: 0;
    

}
.content-title-footer li a{
    color: gray;
}

.footer-banner{
    width: 100%;
    height: 90%;

    background-color: gray;
}

.T-design{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    color: white;
}

.logo-footer{
    color: white;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px dotted black;
    margin-bottom: 10px;
    
}

.social-footer{
    color: gray;
    font-size: 2em;
}

.social-footer:hover{
    color: white;
}


/* about us */
.banner-about{
    position: relative;
    padding: 0;
    margin: 0;
}

.banner-about img{
    
    width: 100%;

   
   
   
  
}

.overlay-about{
    position: absolute;
    top: 0;
    width: 100%;
    
    height: 100%;
    background-color: rgb(243, 88, 16);
    opacity: 0.2;
}

.overlay-banner-footer{
    position: absolute;
   width: 100%;
    height: 30%;
    bottom: 0;
   
    background-color: black;
    opacity: 0.4;
    
}

.text-overlay{
    position: absolute;
    
    color: white;
}


.bg-banner{
    
    width: 100%;
   top: 5em;
    position: relative; 
    margin-bottom: 5em;
}

.bg-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay-banner-about{
    position: absolute;
    background-color: rgb(240, 95, 37);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
    z-index: 1;
}
.card-img-overlay-about{
    position: absolute;
    
   
    z-index: 2;
    color: white;
    text-align: center;
   padding-top: 2em;
    bottom: 0;
    width: 100%;
    height: 30%;
}

.overlay-about{
    
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(80, 80, 36);
}

.banner-moble{
    position: relative;
    top: 4em;
    margin-bottom: 2em;
}
.title-banner-moble{
    background-color: white;
    margin-bottom: 4em;
    padding: 2em;
}


/* about infomation partner */

.about-partner-info:hover img{
    box-shadow: 0 10px 16px 0 rgba(32,33,36,0.28);
}

.bg-contact-us{
    background-color: #4AA180;
    color: white;
}

.bg-contact-us:hover .opacity-angle{
    opacity: 1;
    color: white;
}
.bg-contact-us:hover {
    color: white;
    box-shadow: 0 6px 10px 0 rgba(32,33,36,0.28);
}

.opacity-angle{
    opacity: 0;
}

.create-trip-about{
    width: 100%;
   border-radius: 50%;
   
}

.bg-create-trip{
    background-color: white;
    border: 1px solid #4AA180;
    border-radius: 50%;
}

.position-fixed{
    left: 1.5em;
    bottom: 1.5em;
    font-size: 2.5em;
    color: #4AA180;
    
    z-index: 999;
}

/* icon_about trip */
.icon-bullet{
    background-color: #4AA180;
    display: inline-block;
   
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
   border-radius: 50%;
   color: white;
    
}
/* map about */
.bg-dark1{
    background-color: #0c0427;
}
.bg-map-about{
    background-color: rgb(6, 9, 26);
}

.ca{
    position: absolute;
    left: 18%;
    top: 24%;
    background-color: #888b20;
    color: white;
    padding: 0.3em;
    opacity: 0.6;
}

.ca:hover{
    color: white;
}

.central_american{
    position: absolute;
    color: white;
    left: 8%;
    top: 36%;
    padding: 0.3em;
    background-color: #9a2173;
    opacity: 0.6;

}

.central_american:hover{
    color: white;
}

.sorth_parcific{
    position: absolute;
    top: 53%;
    left: 18%;
    background-color: #0ab6cc;
    opacity: 0.6;
    padding: 0.3em;
    color: white;
}

.sorth_parcific:hover{
    color: white;
}

.caribbean{
    position: absolute;
    top: 34%;
    left: 29%;
    padding: 0.3em;
    background-color: #558799;
    color: white;
    opacity: 0.6;
}
.caribbean:hover{
    color: white;
}

.South_american{
    position: absolute;
    top: 50%;
    left: 33%;
    padding: 0.3em;
    color: white;
    opacity: 0.6;
    background-color: #1f3580;
}
.South_american:hover{
    color: white;
}

.Europe{
    position: absolute;
    top: 19%;
    left: 46%;
    padding: 0.3em;
    background-color: #862f68;
    opacity: 0.6;
    color: white;
}
.Europe:hover{
    color: white;
}

.Middle_Est{
    position: absolute;
    top: 28%;
    left: 48%;
    background-color: #007ea4;
    opacity: 0.6;
    padding: 0.3em;
    color: white;
}

.Middle_Est:hover{
    color: white;
}

.Africa{
    position: absolute;
    top: 42%;
    left: 48%;
    background-color: #ca422c;
    opacity: 0.6;
    padding: 0.3em;
    color: white;
}

.Africa:hover{
    color: white;
}

.Viet_nam{
    position: absolute;
    top: 34%;
    left: 73%;
    background-color: red;
    opacity: 0.6;
    padding: 0.3em;
    color: white;
}

.Viet_nam:hover{
    color: white;
}

.autralian{
    position: absolute;
    top: 50%;
    left: 73%;
    background-color: #df6f1d;
    opacity: 0.6;
    padding: 0.3em;
    color: white;
}

.autralian:hover{
    color: white;
}



/* -------------------Du lịch Nước Ngoài--------------------------------------------------------- */



.bg-banner-dlnn img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    position: relative;
}

.card-img-overlay-dlnn{
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
}

.box-shadow-dlnn{
    box-shadow: 0 6px 10px 0 rgba(161, 162, 165, 0.28);
}

.button-make-an-enquiry{
    background-color: #4AA180;
    width: 60%;
    margin: 0 auto;
    
}

.button-make-an-enquiry a{
    color: white;
}

.boxshadow-contact-dlnn{
    box-shadow: 0 6px 10px 0 rgba(161, 162, 165, 0.28);
}
.boxshadow-contact-dlnn-1{
    box-shadow: 0 6px 10px 0 rgba(161, 162, 165, 0.28);
}

.dlnn-country-hover a{
    overflow: hidden;
    
}
.dlnn-country-hover a img{
    transition: 0.4s;
}
.dlnn-country-hover a:hover img{
    transform: scale(1.4);
}

.text-color-dlnn{
    color: #4AA180;
}

.btn-bg{
    background-color: white;
    border: 1px solid #4AA180;
    color: #4AA180;
    margin: 0 auto;
    transition: 0.4s;
}

.btn-bg:hover{
    background-color: #4AA180;
    color: white;
}

.carousel-control-prev-icon{
    font-size: 40px;
    color: black;
}
<<<<<<< HEAD


/* page - blog */

.overlay-banner-blog{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.card-img-overlay-blog{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20%;
    left: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.overlay-banner-blog-mobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.title-banner-moble-blog{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-blog-angle{
    font-size: 2em;
    opacity: 0;
    transition: all 0.5s;
}
.title-blog-bvnbn:hover .icon-blog-angle{
    opacity: 1;
}

.overlay-blog{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
}

.card-blog:hover .overlay-blog{
    opacity: 0.6;
    transition: all 0.4s;
}



.title-blog{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;

}

.title-blog > div{
    padding: 1em;
}

.blog-check-in{
    color: #4AA180;
}

.blog-check-in:hover{
    color: white;
}
.fa-user{
    color: rgb(82, 79, 79);
    background-color: rgb(145, 137, 141);
    padding: 0.5em;
    margin-right: 0.2em;
    border-radius: 0.2em;
    font-size: 1.5em;
}

.title-user-up{
    font-size: 0.8em;
    color: gray;
}

.bookmark-blog{
    opacity: 0;
    transition: opacity 0.4s;
    color: #4AA180;
}
.heading-title:hover .bookmark-blog{
    opacity: 1;

    
}



.text-blog-acticle{
    color: black;
}

.text-blog-acticle:hover{
    color: rgb(56, 55, 55);
}

.border-bottom-acticle{
    
    border-bottom: 2px dotted gray;
}

.blog-acticle-1{
    color: #4AA180;
    font-weight: bold;
}
.card-body a{
    text-decoration: none;
}


.overflow-acticle{
    height: 26.1em;
    overflow: auto;
}

.content-acticle-blog{
    font-size: 0.9em;
    color: rgb(63, 62, 62);
}

.color-arrow-imp{
    border-top: 1em solid white !important;
}
=======
>>>>>>> f967fdeb42a1f19d978edf8f9665ac209e199cc9
