*{
    box-sizing: border-box;
}
#wraper{
    max-width: 1000px;
    margin: 0px auto;
}
 #banner img{
   width: 100%;
  
    margin-top: 0px;
    margin-bottom: 10px;
}
#header{
    position: relative;
    width: 100%;
   
    
}
/*#menu{
    width: 25%;
    height: 300px;
    background-color: brown;
    float: left;
    
    position: absolute;
}*/
 #content1{
    float: right;
   position: relative;
    
   padding-right: 1%;
   padding-left: 1%;
   width: 75%;
   
    margin-top: 0px;
    
    height: 100%;
    
}
#menu {
    background-color: #9dcff0;
    width: 25%;
   
    
    
    float: left;
    position: relative;
    
}
.menu_dropdown{
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.list{
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 0 1em;
    border-bottom: 1px solid #e8e8e8;
}
.list a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1vw;
    display: block;
}

.content1-img img{
   width: 25%;
    height: 33%;
    opacity: 0.5;
    transition: opacity 1s ease-in-out,border-radius 1s ease-in-out;
    float: left;
    padding: 2px 2px 2px 2px;
    
}
.content1-1{
    overflow: hidden;
}
.content1-img img:hover{
    opacity: 1;
    border-radius: 10%;
}
.clear {
    clear: both;
}
#menu  li:hover{
    background-color: #CDE2CD;
}
#content a img{
    width: 100%;
    opacity: 0.5;
    transition: opacity 3s linear;
}
#content a img:hover{
    border: 1px solid rgb(235, 218, 218);
    opacity: 1;
    
}

#footer{
    width: 100%;
    height: 50px;
    background-color: rgb(99, 68, 42);
    position: relative;
    text-align: center;
    padding: 0px 30px;
}
#backtotop  img{
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 9999;
    bottom: 40px;
    right: 30px;
    
}