*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #333333;
}
.wrap {
    max-width: 1000px;
    margin: auto;
}
img{
    max-width: 100%;
}
#menu ul{
        background-color: #493b3b;
        list-style-type: none;
        text-align: center;
       
}
#menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
  }
#menu a{
    text-decoration: none;
    color: #fff;
    display: block;
}
#menu a:hover{
    background: #f1f1f1;
    color: #333333;
}
 .pi{
    padding: 15px;
    
    float: left;
    width: 32.8%;
    
    border: 1px solid hsl(0, 0%, 87%);
    border-top-width: 5px;
 }
 body{
    background-color: #e5e5e5;
    margin: 0px;
    padding: 0px;
}
img.gallery{
    width: 100%;
    
}

#container{
    max-width: 100%;
    margin: auto;
}
#container img:hover{
  transform: scale(1.1);
}
.pa{
   
    float: left;
    width: 50%;
    
    
 }