@import url('https://fonts.googleapis.com/css?family=Lobster|Mansalva|Open+Sans&display=swap');

body{
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    padding: 0 !important;
    /* opacity: 0.7; */
    
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    left: 0;
    top: 131%;
    position: absolute;
}

.my-brand{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    font-weight: bold;
    color: rgb(20, 207, 114) !important;
    /* background-color: rgb(60, 62, 66); */
    padding: 0.3em 0.3em 0.3em 0;
    border-radius: 6%;
    height: 100%;
}

.my-brand:focus{
    color: #fff !important;
}

.font-menu{
    font-family: 'Open Sans', sans-serif;
    /* text-transform: uppercase; */
    color: #fff !important;
    font-size: 1em;
}

.bg-my{
    background-color: #343434;
    border-bottom: 2px solid #4AA180;
   
}

.bg-toggle{
    background-color: #f1f1f1;
}

.font-menu:focus{
    background-color: #4AA180;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #4AA180;
}
.bg-collapse{
    background-color: #676969;
    z-index: 1001;
}
@media (min-width: 576px) { 

  .bg-collapse{
      background-color: #343434;
     
  }

}

/* banner */

.container-fluid .banner{
    
    
    height: 400px;
    background-image: url('../img/img_banner/newyork\ \(2\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

   
    
}
.overlay-banner{
    width: 100%;
    height: 400px;
    background-color: black;
    opacity: 0.6;
    position: absolute;
}
.form-banner{
    /*   */
    top: 11%;
    z-index: 1000;
}


@media (max-width: 991.98px) { 
    .favote-1{
        display: none;
    }
}

/* icon arrow */
.down-arrow{
    border-top: 1em solid #343a40;
    border-right: 1em solid transparent;
    border-left: 1em solid transparent;
    border-bottom: 1em solid transparent;
   
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-1em);
}


#myvideo{
    width: 100%;
    object-fit: inherit;
}
.poter{
   width: 6em;
   height: 6em;
    background-color: cadetblue;
    transform: rotate(30deg);
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
}

.box-shadow:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.poter1{
    width: 6em;
    height: 6em;
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
}

/* new product */
.newProduct{
    position: relative;
    overflow: hidden;
    

}
.newProduct:hover .overlay{
    opacity: 0.3;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    display: block;
   
}
.newProduct:hover img{
    transform: scale(1.3);
}
.newProduct:hover .title-overlay{
    opacity: 0.6;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
   display: none;
   z-index: 90;
   transition: 0.4s;
}

.title-overlay{
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: black;
    bottom: 0;
    z-index: 91;
    opacity: 0;
    transition: 0.4s;
}

.content-title{
    position: absolute;
    width: 100%;
    bottom: 10%;
    z-index: 92;
    text-decoration: none;
    text-align: center;
    color: white;
    
}
.newProduct img{
    width: 100%;
    transition: 0.4s;
}
.icon-badge{
    position: absolute;
    
    z-index: 92;
    top: 1em;
    left: 1em;
}
.card-img{
    transform: rotate(30deg);
    object-fit: cover;
    transition: 0.4s;
}
.card-img:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
}

